<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>420863540274-7vujn0ai08scv1h7p59u8riab952rm0l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.420863540274-7vujn0ai08scv1h7p59u8riab952rm0l</string>
	<key>API_KEY</key>
	<string>AIzaSyADyZpJgEcZBB2-MXLsWOBWB-KTMX2h9CI</string>
	<key>GCM_SENDER_ID</key>
	<string>420863540274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bennit</string>
	<key>PROJECT_ID</key>
	<string>bennit-f6ace</string>
	<key>STORAGE_BUCKET</key>
	<string>bennit-f6ace.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:420863540274:ios:3b7f80a33e0195b983902b</string>
</dict>
</plist>